/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "./boards/shields/klink_kbd/common.keymap"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <320>;
    flavor = "tap-preferred";
};

&mt {
    tapping-term-ms = <320>;
    flavor = "tap-preferred";
};

/ {
    combos {
        compatible = "zmk,combos";

        cancel {
            bindings = <&kp LG(Z)>;
            key-positions = <26 27>;
            require-prior-idle-ms = <100>;
            layers = <0>;
            slow-release;
        };

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <28 29>;
            require-prior-idle-ms = <100>;
            slow-release;
            layers = <0>;
        };

        cut {
            bindings = <&kp LG(X)>;
            key-positions = <27 28>;
            require-prior-idle-ms = <100>;
            slow-release;
            layers = <0>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <29 30>;
            require-prior-idle-ms = <100>;
            slow-release;
            layers = <0>;
        };

        all_select {
            bindings = <&kp LG(A)>;
            key-positions = <14 15>;
            require-prior-idle-ms = <100>;
            slow-release;
            layers = <0>;
        };

        reload {
            bindings = <&kp LG(R)>;
            key-positions = <5 4>;
            require-prior-idle-ms = <100>;
            slow-release;
            layers = <0>;
        };

        quit {
            bindings = <&kp LG(Q)>;
            key-positions = <1 2>;
            require-prior-idle-ms = <100>;
            layers = <0>;
            slow-release;
        };

        mk_bang {
            bindings = <&kp LS(NUMBER_1)>;
            key-positions = <1 0>;
            slow-release;
            require-prior-idle-ms = <100>;
            layers = <0>;
        };
    };

    behaviors {
        hr_s: hr_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "hr_shift";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&gresc                   &kp Q         &kp W     &kp E  &kp R               &kp T  &kp Y      &kp U                &kp I      &kp O          &kp P              &kp LEFT_BRACKET  &kp BSPC
&lt 2 TAB                &kp A         &kp S     &kp D  &hr_s LEFT_SHIFT F  &kp G  &kp H      &hr_s RIGHT_SHIFT J  &kp K      &kp L          &kp SEMI           &kp RET
&mt LEFT_SHIFT CAPSLOCK  &kp Z         &kp X     &kp C  &kp V               &kp B  &kp N      &kp M                &kp COMMA  &kp DOT        &kp RIGHT_SHIFT    &mo 3
                         &kp LEFT_ALT  &kp LGUI         &lt 1 BACKSPACE            &kp SPACE                                  &kp RIGHT_ALT  &kp RIGHT_CONTROL
            >;
        };

        numbers {
            bindings = <
&kp GRAVE  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans
&trans     &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9     &kp N0  &trans
&trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp SLASH  &trans  &trans
           &trans  &trans          &trans          &trans                  &trans     &trans
            >;
        };

        layer2 {
            bindings = <
&trans  &kp HOME        &kp UP_ARROW    &kp END          &kp F2  &trans  &trans  &trans  &trans  &trans    &kp PRINTSCREEN  &trans  &kp DELETE
&trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp F5  &trans  &trans  &trans  &trans  &trans    &trans           &trans
&trans  &trans          &trans          &trans           &trans  &trans  &trans  &trans  &trans  &trans    &kp RIGHT_SHIFT  &mo 0
        &trans          &trans                           &trans          &trans                  &kp RALT  &kp RCTRL
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans          &trans                  &trans  &trans          &trans
            >;
        };
    };
};
